
.form .field-wrapper {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    padding: 8px;
  }
  
  .form fieldset {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
    border: none;
    padding: 0;
  }
  
  @media (width >= 900px) {
    .form fieldset {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }
  
  .form fieldset > legend {
    font-weight: 700;
    font-size: var(--heading-font-size-xs);
  }
  
  .form label {
    font-weight: 700;
    font-size: var(--body-font-size-xs);
    margin-bottom: 0.25em;
  }
  
  .form input,
  .form select,
  .form textarea {
    font-size: var(--body-font-size-s);
    width: 100%;
    max-width: 50rem;
    display: block;
    padding: 12px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  .form textarea {
    resize: vertical;
  }
  
  .form .selection-wrapper input {
    width: 16px;
  }
  
  .form .selection-wrapper label {
    margin-bottom: 0;
  }
  
  .form input:hover {
    border: 1px solid var(--text-color);
  }
  
  .form .button {
    max-width: 225px;
    font-size: var(--body-font-size-m);
    padding: 0.2em 0.4em;
  }
  
  .form .field-wrapper.selection-wrapper {
    grid-auto-flow: column;
    justify-content: start;
    gap: 16px;
  }
  
  .form .field-wrapper > label {
    order: -1;
  }
  
  .form .field-wrapper.selection-wrapper > label {
    order: 1;
  }
  
  .form input[required] + label::after {
    content: "*";
    color: firebrick;
    margin-inline-start: 1ch;
  }
  
  .form .toggle-wrapper .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .form .toggle-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .form .toggle-wrapper .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--dark-color);
    transition: 0.4s;
    border-radius: 30px;
  }
  
  .form .toggle-wrapper .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--background-color);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .form .toggle-wrapper input:checked + .slider {
    background-color: var(--link-color);
  }
  
  .form .toggle-wrapper input:focus + .slider {
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
  }
  
  .form .toggle-wrapper input:checked + .slider::before {
    transform: translateX(24px);
  }
  
  /* advisor locator form */
  .advisor-locator .form {
    margin-bottom: 1.875rem;
  }
  
  .advisor-locator .form .fieldset-wrapper {
    padding: 0;
    display: flex;
  }
  
  .advisor-locator .form fieldset {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .advisor-locator .form fieldset .text-wrapper {
    width: 100%;
    padding: 0;
  }
  
  .advisor-locator .form fieldset .submit-wrapper {
    width: 33.3333%;
    min-width: 33.3333%;
    padding: 0;
  }
  
  .advisor-locator .form fieldset label {
    font-weight: 300;
    line-height: 1;
    font-size: 1rem;
  }
  
  .advisor-locator .form input[required] + label::after {
    color: #fff;
    margin-inline-start: 2px;
  }
  
  .advisor-locator .form input {
    color: rgba(31 34 38 / 75%)!important;
    border-radius: 0.375rem;
    background-color: #fff;
    border: 0.0625rem solid rgba(31 34 38 / 40%);
    box-shadow: inset 0 0 0 0.0625rem transparent;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.75rem 0.9375rem;
    transition: box-shadow .2s ease-out;
    width: 100%;
  }
  
  .advisor-locator .form button {
    background-color: transparent;
    color: #fff;
    text-transform: none;
    border: 2px solid #fff;
    border-radius: 1.25rem;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .0313rem;
    padding: 9px 15px 8px;
    padding: 0.5625rem 0.9375rem 0.5rem;
    text-align: center;
    height: 46px;
    font-weight: 400;
    max-width: 120px;
  }
  
  .advisor-locator .geolocate-link {
    padding: .625rem 0 0;
  }
  
  .advisor-locator .geolocate-link p {
    margin: 0;
    text-decoration: underline;
  }
  
  @media (width >= 768px) {
    .advisor-locator .form {
      border: 1px solid #fff;
      padding: 1.25rem;
      border-radius: 3px;
    }
  
    .advisor-locator .form fieldset {
      display: flex;
      align-items: flex-end;
    }
    
    .advisor-locator .form fieldset .text-wrapper {
      width: 66.6667%;
    }
    
    .advisor-locator .form button {
      max-width: none;
    }
  }
  
  /* login form */
  .login-form {
    width: 25%;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0 0.0625rem rgba(31 34 38 / 15%), 0.0625rem 0.0625rem 0.1875rem 0 rgba(31 34 38 / 40%);
  }
  
  .login-form .form-wrapper,
  .login-form .field-wrapper {
    padding: 0;
  }
  
  .login-form .form {
    padding: .9375rem .9375rem 1.875rem;
  }
  
  .login-form .text-wrapper {
    margin-top: .625rem;
    position: relative;
  }
  
  .login-form .text-wrapper label {
    background-color: transparent;
    color: rgba(47 48 51 / 75%);
    top: 50%;
    font-size: 14px;
    cursor: text;
    left: 15px;
    position: absolute;
    padding: 0 5px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: background-color .2s,color .2s,top .2s;
    margin: 0 0 0 -.3125rem;
    font-weight: 400;;
  }
  
  .login-form .text-wrapper input {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: .375rem;
    background-color: #fff;
    border: .0625rem solid rgba(31 34 38 / 40%);
    box-shadow: inset 0 0 0 .0625rem transparent;
    box-sizing: border-box;
    line-height: 1.25;
    transition: box-shadow .2s ease-out;
  }
  
  .login-form .text-wrapper input:focus ~ label {
    color: rgba(47 48 51 / 75%);
    background-color: #fff;
    top: 0;
  }
  
  .login-form .text-wrapper input:active:not(:disabled),
  .login-form .text-wrapper input:focus {
    outline: .1875rem solid #1f2226;
  }
  
  .login-form h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.25rem;
  }
  
  .login-form .form .checkbox-wrapper {
    padding-top: 10px;
    gap: 8px;
  }
  
  .login-form .checkbox-wrapper input {
    height: 1.25rem;
    width: 1.25rem;
    accent-color: #1f2226;
  }
  
  .login-form .checkbox-wrapper label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: rgba(31 34 38 / 75%);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
  }
  
  .login-form .submit-wrapper {
    margin-top: 20px;
  }
  
  .login-form .form .button {
    max-width: none;
    font-size: 1rem;
    padding: .5625rem .9375rem .5rem;
  }
  
  .login-form .default-content-wrapper {
    background-color: #f4f4f5;
    border-radius: 0 0 .3125rem .3125rem;
  }
  
  .login-form .default-content-wrapper ul {
    margin: 0;
    padding: 7px 0;
  }
  
  .login-form .default-content-wrapper li {
    list-style: none;
    padding: 7px 0;
    font-size: .875rem;
    line-height: normal;
  }
  
  /* header search */
  .header-search form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
  }
  
  .header-search form .fieldset-wrapper {
    position: relative;
  }
  
  .header-search form .field-wrapper {
    padding: 0;
  }
  
  .header-search form fieldset {
    margin: 0;
    display: flex;
  }
  
  .header-search form label {
    position: absolute;
    opacity: 0;
    text-indent: -99999px;
  }
  
  .header-search form input {
    border: .063rem solid #828385;
    border-radius: 5px;
    height: 50px;
    padding: 0 60px 0 52px;
    font-size: 18px;
    box-shadow: 0 1px 5px rgba(0 0 0 / 10%);
    box-sizing: border-box;
    color: #1f2226;
    line-height: 1.25;
    background-color: #fff;
    width: 1000px;
    max-width: 560px;
  }
  
  .header-search .default-content-wrapper {
    position: absolute;
    left: 10px;
  }
  
  .header-search .default-content-wrapper p {
    margin: 0;
  }
  
  .header-search .icon {
    width: 18px;
    height: 18px;
    display: block;
  }
  
  .header-search .icon img {
    width: 18px;
    height: 18px;
    opacity: .5;
    display: block;
  }
  